/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 25px;
  margin-right: .5rem;
  background-color: rgb(172, 205, 236);
  padding: 1rem;
  border-radius: 0px 25px 0px 25px;
  border:burlywood;
  font-size: 1rem;
  width:220px;
}
button:hover {
  background-color: #b4981a;
  border-radius: 25px 0px 25px 0px;
  transition: ease-in-out;
}
button:disabled {
  background-color: rgb(95, 61, 61);
  color: #ccc;
  cursor: auto;
}
.label{
  width:300px;height:65px;font-style: italic;background-color:teal;color:azure;border:1px solid #b4981a;border-radius:25px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/